body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.card{
    background-color: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;

}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

input {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}
textarea {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    width: 800px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.delete {
    background-color: red;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button.edit {
    background-color: rgb(139, 139, 139);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

}
button.pendiente {
    background-color: rgb(255, 153, 0);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

}
button.completado {
    background-color: rgb(9, 145, 9);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

}